/* line 5, css/app */
body {
  background-color: #1a1b1e;
  color: beige;
}
/* line 10, css/app */
hr {
  background-color: #de1a82;
}
/* line 14, css/app */
#particles-js canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
